-LM Unigram -UnkRatio 0.1 -TestCorpusTag train -K 0.0 -IgnoreCase
-LM Unigram -UnkRatio 0.1 -TestCorpusTag dev -K 0.0 -IgnoreCase
-LM Unigram -UnkRatio 0.1 -TestCorpusTag test -K 0.0 -IgnoreCase

-LM Bigram -UnkRatio 0.1 -TestCorpusTag train -K 0.0 -IgnoreCase
-LM Bigram -UnkRatio 0.1 -TestCorpusTag dev -K 0.0 -IgnoreCase
-LM Bigram -UnkRatio 0.1 -TestCorpusTag test -K 0.0 -IgnoreCase

-LM Trigram -UnkRatio 0.1 -TestCorpusTag train -K 0.0 -IgnoreCase
-LM Trigram -UnkRatio 0.1 -TestCorpusTag dev -K 0.0 -IgnoreCase
-LM Trigram -UnkRatio 0.1 -TestCorpusTag test -K 0.0 -IgnoreCase

-LM Unigram -UnkRatio 0.1 -TestCorpusTag train -K 0.0 -IgnoreCase -UseFullSet
-LM Unigram -UnkRatio 0.1 -TestCorpusTag dev -K 0.0 -IgnoreCase -UseFullSet
-LM Unigram -UnkRatio 0.1 -TestCorpusTag test -K 0.0 -IgnoreCase -UseFullSet

-LM Bigram -UnkRatio 0.1 -TestCorpusTag train -K 0.0 -IgnoreCase -UseFullSet
-LM Bigram -UnkRatio 0.1 -TestCorpusTag dev -K 0.0 -IgnoreCase -UseFullSet
-LM Bigram -UnkRatio 0.1 -TestCorpusTag test -K 0.0 -IgnoreCase -UseFullSet

-LM Trigram -UnkRatio 0.1 -TestCorpusTag train -K 0.0 -IgnoreCase -UseFullSet
-LM Trigram -UnkRatio 0.1 -TestCorpusTag dev -K 0.0 -IgnoreCase -UseFullSet
-LM Trigram -UnkRatio 0.1 -TestCorpusTag test -K 0.0 -IgnoreCase -UseFullSet
