## A comment line

-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.001              -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.01               -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.1                -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.2                -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.3                -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.4                -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.5                -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.6                -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.7                -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.8                -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.9                -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.95               -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.99               -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.999              -IgnoreCase

-LM Unigram -UnkRatio 0.1 -SmoothingTechnique dirichlet -L1    1        -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique dirichlet -L1    2        -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique dirichlet -L1    5        -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique dirichlet -L1    10       -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique dirichlet -L1    100      -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique dirichlet -L1    1000     -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique dirichlet -L1    10000    -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique dirichlet -L1    100000   -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique dirichlet -L1    200000   -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique dirichlet -L1    500000   -IgnoreCase

-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.001              -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.01               -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.1                -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.2                -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.3                -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.4                -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.5                -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.6                -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.7                -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.8                -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.9                -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.95               -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.99               -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.999              -IgnoreCase

-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.001 -L2 100000   -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.01  -L2 100000   -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.1   -L2 100000   -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.2   -L2 100000   -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.3   -L2 100000   -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.4   -L2 100000   -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.5   -L2 100000   -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.6   -L2 100000   -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.7   -L2 100000   -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.8   -L2 100000   -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.9   -L2 100000   -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.95  -L2 100000   -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.99  -L2 100000   -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.999 -L2 100000   -IgnoreCase

-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.001 -L2 10000    -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.01  -L2 10000    -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.1   -L2 10000    -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.2   -L2 10000    -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.3   -L2 10000    -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.4   -L2 10000    -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.5   -L2 10000    -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.6   -L2 10000    -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.7   -L2 10000    -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.8   -L2 10000    -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.9   -L2 10000    -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.95  -L2 10000    -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.99  -L2 10000    -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.999 -L2 10000    -IgnoreCase

-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.001 -L2 1000     -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.01  -L2 1000     -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.1   -L2 1000     -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.2   -L2 1000     -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.3   -L2 1000     -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.4   -L2 1000     -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.5   -L2 1000     -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.6   -L2 1000     -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.7   -L2 1000     -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.8   -L2 1000     -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.9   -L2 1000     -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.95  -L2 1000     -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.99  -L2 1000     -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.999 -L2 1000     -IgnoreCase

-LM Trigram -UnkRatio 0.1 -SmoothingTechnique addK -L1 0.001            -IgnoreCase
-LM Trigram -UnkRatio 0.1 -SmoothingTechnique addK -L1 0.01             -IgnoreCase
-LM Trigram -UnkRatio 0.1 -SmoothingTechnique addK -L1 0.1              -IgnoreCase
-LM Trigram -UnkRatio 0.1 -SmoothingTechnique addK -L1 1                -IgnoreCase
-LM Trigram -UnkRatio 0.1 -SmoothingTechnique addK -L1 10               -IgnoreCase
-LM Trigram -UnkRatio 0.1 -SmoothingTechnique addK -L1 100              -IgnoreCase
-LM Trigram -UnkRatio 0.1 -SmoothingTechnique addK -L1 1000             -IgnoreCase
-LM Trigram -UnkRatio 0.1 -SmoothingTechnique addK -L1 10000            -IgnoreCase

-LM trigramwithlinearinterpolation -UnkRatio 0.1 -SmoothingTechnique ml -L1 0.611084945 -L2 0.272293193 -L3 0.116621863            -IgnoreCase
-LM trigramwithlinearinterpolation -UnkRatio 0.1 -SmoothingTechnique ml -L1 0.611084945 -L2 0.272293193 -L3 0.116621863            -IgnoreCase
-LM trigramwithlinearinterpolation -UnkRatio 0.1 -SmoothingTechnique ml -L1 0.438665899 -L2 0.079258119 -L3 0.482075982            -IgnoreCase
-LM trigramwithlinearinterpolation -UnkRatio 0.1 -SmoothingTechnique ml -L1 0.438665899 -L2 0.079258119 -L3 0.482075982            -IgnoreCase
-LM trigramwithlinearinterpolation -UnkRatio 0.1 -SmoothingTechnique ml -L1 0.486825474 -L2 0.132716412 -L3 0.380458114            -IgnoreCase
-LM trigramwithlinearinterpolation -UnkRatio 0.1 -SmoothingTechnique ml -L1 0.486825474 -L2 0.132716412 -L3 0.380458114            -IgnoreCase
-LM trigramwithlinearinterpolation -UnkRatio 0.1 -SmoothingTechnique ml -L1 0.466530274 -L2 0.389693346 -L3 0.143776380            -IgnoreCase
-LM trigramwithlinearinterpolation -UnkRatio 0.1 -SmoothingTechnique ml -L1 0.466530274 -L2 0.389693346 -L3 0.143776380            -IgnoreCase

-LM Bigram -UnkRatio 0.1 -SmoothingTechnique addK -L1 0.001            -IgnoreCase
-LM Bigram -UnkRatio 0.1 -SmoothingTechnique addK -L1 0.01             -IgnoreCase
-LM Bigram -UnkRatio 0.1 -SmoothingTechnique addK -L1 0.1              -IgnoreCase
-LM Bigram -UnkRatio 0.1 -SmoothingTechnique addK -L1 1                -IgnoreCase
-LM Bigram -UnkRatio 0.1 -SmoothingTechnique addK -L1 10               -IgnoreCase
-LM Bigram -UnkRatio 0.1 -SmoothingTechnique addK -L1 100              -IgnoreCase
-LM Bigram -UnkRatio 0.1 -SmoothingTechnique addK -L1 1000             -IgnoreCase
-LM Bigram -UnkRatio 0.1 -SmoothingTechnique addK -L1 10000            -IgnoreCase