-LM Unigram -UnkRatio 0.1 -TestCorpusTag train -K 0.001
-LM Unigram -UnkRatio 0.1 -TestCorpusTag dev -K 0.001
-LM Unigram -UnkRatio 0.1 -TestCorpusTag test -K 0.001

-LM Bigram -UnkRatio 0.1 -TestCorpusTag train -K 0.001
-LM Bigram -UnkRatio 0.1 -TestCorpusTag dev -K 0.001
-LM Bigram -UnkRatio 0.1 -TestCorpusTag test -K 0.001

-LM Trigram -UnkRatio 0.1 -TestCorpusTag train -K 0.001
-LM Trigram -UnkRatio 0.1 -TestCorpusTag dev -K 0.001
-LM Trigram -UnkRatio 0.1 -TestCorpusTag test -K 0.001

-LM Unigram -UnkRatio 0.1 -TestCorpusTag train -K 0.001 -IgnoreCase
-LM Unigram -UnkRatio 0.1 -TestCorpusTag dev -K 0.001 -IgnoreCase
-LM Unigram -UnkRatio 0.1 -TestCorpusTag test -K 0.001 -IgnoreCase

-LM Bigram -UnkRatio 0.1 -TestCorpusTag train -K 0.001 -IgnoreCase
-LM Bigram -UnkRatio 0.1 -TestCorpusTag dev -K 0.001 -IgnoreCase
-LM Bigram -UnkRatio 0.1 -TestCorpusTag test -K 0.001 -IgnoreCase

-LM Trigram -UnkRatio 0.1 -TestCorpusTag train -K 0.001 -IgnoreCase
-LM Trigram -UnkRatio 0.1 -TestCorpusTag dev -K 0.001 -IgnoreCase
-LM Trigram -UnkRatio 0.1 -TestCorpusTag test -K 0.001 -IgnoreCase
