-LM Trigram -UnkRatio 0.1 -TestCorpusTag train  -K 0.001 -IgnoreCase
-LM Trigram -UnkRatio 0.1 -TestCorpusTag dev    -K 0.001 -IgnoreCase
-LM Trigram -UnkRatio 0.1 -TestCorpusTag train  -K 0.005 -IgnoreCase
-LM Trigram -UnkRatio 0.1 -TestCorpusTag dev    -K 0.005 -IgnoreCase
-LM Trigram -UnkRatio 0.1 -TestCorpusTag train  -K 0.01 -IgnoreCase
-LM Trigram -UnkRatio 0.1 -TestCorpusTag dev    -K 0.01 -IgnoreCase
-LM Trigram -UnkRatio 0.1 -TestCorpusTag train  -K 0.1 -IgnoreCase
-LM Trigram -UnkRatio 0.1 -TestCorpusTag dev    -K 0.1 -IgnoreCase
-LM Trigram -UnkRatio 0.1 -TestCorpusTag train  -K 1.0 -IgnoreCase
-LM Trigram -UnkRatio 0.1 -TestCorpusTag dev    -K 1.0 -IgnoreCase
-LM Trigram -UnkRatio 0.1 -TestCorpusTag train  -K 10.0 -IgnoreCase
-LM Trigram -UnkRatio 0.1 -TestCorpusTag dev    -K 10.0 -IgnoreCase
-LM Trigram -UnkRatio 0.1 -TestCorpusTag train  -K 100.0 -IgnoreCase
-LM Trigram -UnkRatio 0.1 -TestCorpusTag dev    -K 100.0 -IgnoreCase

-LM Trigram -UnkRatio 0.1 -TestCorpusTag test  -K 0.001 -IgnoreCase

-LM Trigram -UnkRatio 0.1 -TestCorpusTag train  -K 0.001 -IgnoreCase -UseFullSet
-LM Trigram -UnkRatio 0.1 -TestCorpusTag dev    -K 0.001 -IgnoreCase -UseFullSet
-LM Trigram -UnkRatio 0.1 -TestCorpusTag train  -K 0.005 -IgnoreCase -UseFullSet
-LM Trigram -UnkRatio 0.1 -TestCorpusTag dev    -K 0.005 -IgnoreCase -UseFullSet
-LM Trigram -UnkRatio 0.1 -TestCorpusTag train  -K 0.01 -IgnoreCase -UseFullSet
-LM Trigram -UnkRatio 0.1 -TestCorpusTag dev    -K 0.01 -IgnoreCase -UseFullSet
-LM Trigram -UnkRatio 0.1 -TestCorpusTag train  -K 0.1 -IgnoreCase -UseFullSet
-LM Trigram -UnkRatio 0.1 -TestCorpusTag dev    -K 0.1 -IgnoreCase -UseFullSet
-LM Trigram -UnkRatio 0.1 -TestCorpusTag train  -K 1.0 -IgnoreCase -UseFullSet
-LM Trigram -UnkRatio 0.1 -TestCorpusTag dev    -K 1.0 -IgnoreCase -UseFullSet
-LM Trigram -UnkRatio 0.1 -TestCorpusTag train  -K 10.0 -IgnoreCase -UseFullSet
-LM Trigram -UnkRatio 0.1 -TestCorpusTag dev    -K 10.0 -IgnoreCase -UseFullSet
-LM Trigram -UnkRatio 0.1 -TestCorpusTag train  -K 100.0 -IgnoreCase -UseFullSet
-LM Trigram -UnkRatio 0.1 -TestCorpusTag dev    -K 100.0 -IgnoreCase -UseFullSet

-LM Trigram -UnkRatio 0.1 -TestCorpusTag test  -K 0.001 -IgnoreCase  -UseFullSet