## A comment line

##-LM Trigram -UnkRatio 0.1 -SmoothingTechnique addK -K 0.001  -IgnoreCase

##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.001     -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.01     -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.1     -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.2     -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.3     -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.4     -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.5     -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.6     -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.7     -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.8     -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.9     -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.95     -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.99     -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique jm -L1 0.999     -IgnoreCase

-LM Unigram -UnkRatio 0.1 -SmoothingTechnique dirichlet -L1    100000  -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique dirichlet -L1    1       -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique dirichlet -L1    2       -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique dirichlet -L1    5       -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique dirichlet -L1    10      -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique dirichlet -L1    100     -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique dirichlet -L1    1000    -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique dirichlet -L1    10000   -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique dirichlet -L1    200000  -IgnoreCase
-LM Unigram -UnkRatio 0.1 -SmoothingTechnique dirichlet -L1    500000  -IgnoreCase


##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.001 -L2 100000  -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.01  -L2 100000  -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.1   -L2 100000  -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.2   -L2 100000  -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.3   -L2 100000  -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.4   -L2 100000  -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.5   -L2 100000  -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.6   -L2 100000  -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.7   -L2 100000  -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.8   -L2 100000  -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.9   -L2 100000  -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.95  -L2 100000  -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.99  -L2 100000  -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.999 -L2 100000  -IgnoreCase

##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.001   -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.01    -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.1     -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.2     -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.3     -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.4     -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.5     -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.6     -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.7     -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.8     -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.9     -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.95    -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.99    -IgnoreCase
##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ad -L1 0.999   -IgnoreCase

##-LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.001   -L2 100000  -IgnoreCase


##LM Unigram -UnkRatio 0.1 -SmoothingTechnique ts -L1 0.2   -L2 100000  -IgnoreCase