-LM Unigram -UnkRatio 0.0 -TestCorpusTag train -K 0.001 -IgnoreCase
-LM Unigram -UnkRatio 0.1 -TestCorpusTag train -K 0.001 -IgnoreCase
-LM Unigram -UnkRatio 0.2 -TestCorpusTag train -K 0.001 -IgnoreCase
-LM Unigram -UnkRatio 0.5 -TestCorpusTag train -K 0.001 -IgnoreCase
-LM Unigram -UnkRatio 0.0 -TestCorpusTag dev -K 0.001 -IgnoreCase
-LM Unigram -UnkRatio 0.1 -TestCorpusTag dev -K 0.001 -IgnoreCase
-LM Unigram -UnkRatio 0.2 -TestCorpusTag dev -K 0.001 -IgnoreCase
-LM Unigram -UnkRatio 0.5 -TestCorpusTag dev -K 0.001 -IgnoreCase

-LM Bigram -UnkRatio 0.0 -TestCorpusTag train -K 0.001 -IgnoreCase
-LM Bigram -UnkRatio 0.1 -TestCorpusTag train -K 0.001 -IgnoreCase
-LM Bigram -UnkRatio 0.2 -TestCorpusTag train -K 0.001 -IgnoreCase
-LM Bigram -UnkRatio 0.5 -TestCorpusTag train -K 0.001 -IgnoreCase
-LM Bigram -UnkRatio 0.0 -TestCorpusTag dev -K 0.001 -IgnoreCase
-LM Bigram -UnkRatio 0.1 -TestCorpusTag dev -K 0.001 -IgnoreCase
-LM Bigram -UnkRatio 0.2 -TestCorpusTag dev -K 0.001 -IgnoreCase
-LM Bigram -UnkRatio 0.5 -TestCorpusTag dev -K 0.001 -IgnoreCase

-LM Trigram -UnkRatio 0.0 -TestCorpusTag train -K 0.001 -IgnoreCase
-LM Trigram -UnkRatio 0.1 -TestCorpusTag train -K 0.001 -IgnoreCase
-LM Trigram -UnkRatio 0.2 -TestCorpusTag train -K 0.001 -IgnoreCase
-LM Trigram -UnkRatio 0.5 -TestCorpusTag train -K 0.001 -IgnoreCase
-LM Trigram -UnkRatio 0.0 -TestCorpusTag dev -K 0.001 -IgnoreCase
-LM Trigram -UnkRatio 0.1 -TestCorpusTag dev -K 0.001 -IgnoreCase
-LM Trigram -UnkRatio 0.2 -TestCorpusTag dev -K 0.001 -IgnoreCase
-LM Trigram -UnkRatio 0.5 -TestCorpusTag dev -K 0.001 -IgnoreCase
